style.css

.container {
    font-family: 'Montserrat', sans-serif;
    line-height: 180%;
    color:black; 
    padding-left: 20px;
    padding-right: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: left;
    line-height: 180%;
    color: black;
}

/* Front pic and overlay words */


.hero-container {
    position: relative; 
    text-align: center;
    color: black;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 49%;
    width: 100%;
    background: lightpink;
    opacity: .7;
  }

  .hero-head {
    font-family: Georgia, serif;
    font-size: 6em;
    font-weight: bold;
    color: rgb(231, 18, 121);
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .hero-sub {
    font-family:'Montserrat', sans-serif;
    font-size: .5em;
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .nav-logo {
    color: pink;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: white;
    font-size: 2em;
    padding: 15px 0 15px 0;
    width: 100%;
  }


/* Opener/background */
  .h1 {
    font-family: Georgia, serif;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    line-height: 180%;
    color: pink;
}


/* Story by and published */
.h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align:left;
    line-height: 180%;
    color: pink;
}


/* Column pictures */
col-md-6 {
    text-align:center;
}

col-md-4 {
    text-align: center;
}

 /* Blockquote */
 .quote {
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 18, 121);
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    padding: 15px 0 15px 0;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
    background-color: pink;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-left: 10px solid black;
  }

/* iframe */ 
  #iframe {
    color: grey
  }

/* Related Items */
  .side-bar {
    color: rgb(231, 18, 121);
    margin: 0 auto;
    text-align: left;
    background-color: pink;
    padding: 15px 0 15px 0;
    width: 100%;
}

h20 {
font-family: 'Montserrat', sans-serif;
font-size: 1em;
text-align:left;
line-height: 180%;
color: rgb(231, 18, 121);
}

/* Media queries  */

@media(max-width:670px) {
    p{
        padding-left: 20px;
        padding-right: 10px;
    }

    .chapter-head {
        font-size: 1.25em;
    }

    .head {
        font-size: 2em;
    }

    .hero-head {
        text-size: 1.5em;
        }
}