stylesheet.css



#content {
    width: 100%;
    margin: 0 auto;
    width: 900px;
}

h3 {
    font-family: "Special Elite", sans-serif; 
    text-align: center;
    font-size: 50px;
    color:blueviolet;
}

h1 {
        font-family: Helvetica, sans-serif; 
        text-align: center;
        font-size: 30px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    }

    body {
        font-family: Georgia, serif;
        font-size: 13px;
    }

p {
    font-family: "Times New Roman", 
    Times, 
    serif;
}

blockquote {
    font: 16px/24px normal helvetica, sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: red;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;
}