style.css

.heading {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: lightseagreen;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: Georgia, serif;
    text-align: center;
    color:green; 
}

h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: lightseagreen;
}

p {
    font-family: Georgia, serif;
    line-height: 180%;
    color:green; 
    padding-left: 20px;
    padding-right: 10px;
}



img {
    width: 60%;
    height: 50%;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    line-height: 180%;
    color: lightseagreen;
}

blockquote {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; 
    font-style: italic;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    color: lightseagreen;
    margin-left: 0px;
    padding: 15px 0 15px 0;
    border-left: 10px solid green;
  }

  .nav-logo {
    color: green;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
  }

  .red {
    color: lightseagreen;
  }

  .overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    background: mintcream;
    opacity: .7;
  }

  /* Splash area */


.hero-container {
    position: relative; 
    text-align: center;
    color: green;
}

.hero-image {
    width: 100%;
}

/* Media queries  */

