style.css


.container {
    font-family: 'Montserrat', sans-serif;
    line-height: 180%;
    color:green; 
    padding-left: 20px;
    padding-right: 10px;
}

p {
    font-family: Georgia, serif;
    font-size: 1em;
    text-align: left;
    line-height: 180%;
    color: lightseagreen;
}


img {
    width: 100%;
    text-align: center;
}

.h1 {
    font-family: Georgia, serif;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    line-height: 180%;
    color: green;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
    text-align:left;
    line-height: 180%;
    color: lightseagreen;
}

.h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    line-height: 180%;
    color: green;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 25px; 
    font-style: italic;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    color: lightseagreen;
    margin-left: 0px;
    padding: 15px 0 15px 0;
    border-left: 10px solid green;
  }

  .nav-logo {
    color: green;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .red {
    color: lightseagreen;
    text-align: center;
  }

  .heading {
    text-align: center;
    color: green;
    font-size: .25em;
    font-family: Georgia, serif;
  }

  .attribute {
    text-align: center;
    color: lightseagreen;
    font-size: .25em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }

  /* Splash area */


.hero-container {
    position: relative; 
    text-align: center;
    color: green;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    background: mintcream;
    opacity: .7;
  }

  .hero-head {
    font-family: Georgia, serif;
    font-size: 6em;
    color: green;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .hero-sub {
    font-family:'Montserrat', sans-serif;
    font-size: .25em;
    color: lightseagreen;
  }

  #iframe {
    color: green
  }


  /* Quote */

  .quote {
    font-family: 'Montserrat', sans-serif;
    color: green;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    padding: 15px 0 15px 0;
    border-top: 1px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .quote-attribution {
    font-size: .5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: left;
    color: lightseagreen;
  }

/* Media queries  */

@media(max-width:670px) {
    p{
        padding-left: 20px;
        padding-right: 10px;
    }

    .chapter-head {
        font-size: 1.25em;
    }

    .head {
        font-size: 2em;
    }

    .hero-head {
        text-size: 1.5em;
        }
}

