
.name {
  border:#33485e;
  border-width: 1px;
  width: 60%;
  min-width: 300px;
  margin: "0 auto";
  text-align: center
}

body {
  background-color:  #33A1DE; 
  padding: 20px;
}

p {
  color: #1A5276;
}

.row {
  color: #1A5276;
}

li {
  color: #33A1DE;
}

ol {
  color: #33A1DE;
}

.btn {
  color: #E0E0E0;
  font-family: 'Special Elite';
  text-align: left;
}

a {
  color:  #1A5276;
  text-align: center;
}

.about-me {
  font-size: 2em;
  text-align: center;
  color:#E0E0E0;
}

