
.name {
  text-align: center
}

BODY {

    font-family: 'Open Sans' , arial , sans-serif;
    color:#444;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
}

h2 {
font-size: 1.5em;
text-transform: uppercase;
color: #fff;
background-color: #33485e

} 

h3  {
    font-size: 1.5em;
    font-weight:600;
}



<style>
 .bi {
   font-size:3em;
 }

 .col-md-4 {
   text-align: center;
 }
</style>


